# Ignore Python virtual environments
venv/

# Ignore environment files
.env

# Ignore __pycache__ and compiled files
__pycache__/
*.pyc

# Ignore frontend build artifacts (if any)
frontend/uiuc_logo.png

# Ignore OS files
.DS_Store
